body {
	background-image: url('imagenes/fondoMazmorra.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
	display: flex;
	background-color: grey;
	justify-content: space-around;
	background-image: url('imagenes/escamas.jpg');
	color: #ddda7e;
	margin: 10px;
}

#separacionHeader {
	width: 40%;
}

.link {
	color: blue;
}

.headerButton {
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	width: 140px;
	height: 70px;
}

#mainPage {
	display: flex;
}

#mainLeft {
	width: 40%;
	padding-left: 10%;
	padding-right: 10%;
	display:  flex;
	flex-direction: column;
	align-items: center;
}

#mainLeft img, p {
	color: #ddda7e;
	padding: 20px;
	background-image: url('imagenes/fondoLava.jpg');
}

#mainRight {
	width: 100%;
	display:  flex;
	justify-content: center;
	align-items: center;
}

#logInForm {
	display:  flex;
	flex-direction: column;
	align-items: center;
	background-image: url('imagenes/fondoLava.jpg');

}

#logInForm h2 {
	color: #ddda7e;
}


#logInForm input, a, button{
	width: 300px;
	height: 40px;
	display:  flex;
	justify-content: center;
	align-items: flex-start;
	margin: 10px;
}

#logInForm input {	
	background-image: url('imagenes/quemado.png');
	color: #ddda7e;
}

#logInForm input:last-of-type, button {
	background-color: blue;
}

#logInForm button {
	font-size: 20px;
	margin: 10px;
}

#seccionUsuario {
	display: flex;
	flex-direction: column;
}

#seccionUsuario a {
	width: 140px;
}

#menuDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	background-color: gainsboro;
}

#menuDashboard button, #dashboardLogOut button{
	align-items: center;
	font-size: 20px;
}

#dashboardLogOut {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}